@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("./videoplayback.gif");
    background-size: cover;
    background-position: center;
    flex-direction: column;
    color: wheat;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid grey;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px black;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    /* display: none; */
}
.wrapper.visible {
    visibility: visible;
    display: flex;
    opacity: 1;
}

.wrapper .loginbox {
    width: 100%;
    padding: 40px;
}

.loginbox h2 {
    font-size: 2em;
    /* color: rgba(0, 0, 0, 0.671); */
    color: wheat;
    text-align: center;
}

.inputbox {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid wheat;
    margin: 30px 0;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.inputbox input:focus~label,
.inputbox input:valid~label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    /* color: #162938; */
    color: wheat;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.inputbox .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    /* color: black; */
    color: wheat;
    line-height: 57px;
}

.rememberforgot {
    font-size: .9em;
    /* color: #162938; */
    color: wheat;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.rememberforgot label input {
    /* accent-color: #162938; */
    color: wheat;
    margin-right: 3px;
}

.rememberforgot a {
    /* color: #162938; */
    color: wheat;
    text-decoration: none;
}

.btn {
    width: 100%;
    height: 45px;
    /* background: #162938; */
    background: linear-gradient(110deg, #1492ff 0%, #0860c4 50%, #eb0066 100%);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.loginregister {
    font-size: 0.9em;
    /* color: #162938; */
    color: wheat;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.loginregister p a {
    /* color: #162938; */
    color: wheat;
    text-decoration: none;
    font-weight: 600;
}